<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-items">
      <a href="{{ links.2f }}" aria-current="page" class="logo-link w-nav-brand w--current"><img src="{{ images.64bf6912.url }}" width="65" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;65px&quot;}]" alt="{{ images.64bf6912.alt | trim | escape }}" class="logo-image"></a>
      <div class="navigation-wrap">
        <nav role="navigation" class="navigation-items w-nav-menu">
          <a href="{{ links.-343cd6d }}" class="navigation-item w-nav-link">{{ texts.-37f9ca7c }}</a>
          <a href="{{ links.55b8e8be }}" class="navigation-item w-nav-link">{{ texts.3c2336d }}</a>
          <a href="{{ links.4b0e6111 }}" class="navigation-item w-nav-link">{{ texts.-64104400 }}</a>
        </nav>
        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart">
          <a href="{{ links.23 }}" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink button cc-cart w-inline-block">
            <div class="w-inline-block">{{ texts.1fef40 }}</div>
            <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ item_count }}</div>
          </a>
          <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
            <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
              <div class="w-commerce-commercecartheader cart-header">
                <h4 class="heading-jumbo-tiny">{{ texts.10ade2ed }}</h4>
                <a href="{{ links.23 }}" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button w-inline-block"><img src="{{ images.-4d018dc2.url }}" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.-4d018dc2.alt | trim | escape }}" class="icon"></a>
              </div>
              <div class="w-commerce-commercecartformwrapper">
                <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                  <script type="text/x-wf-template" id="wf-template-338fcf85-0add-3b81-68ce-59ae991bfb80"><div data-node-type="cart-item" class="w-commerce-commercecartitem"><img data-node-type="cart-item-image" data-sizes="[{"max":10000,"size":"100vw"}]" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" class="cart-item-info-wrap w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" class="product-name-text cc-name-text-cart w-commerce-commercecartproductname"><%= it.name %></div><div data-node-type="cart-product-price" data-commerce-type="variation-price"><%= it.price  %></div><ul class="cart-option-list w-commerce-commercecartoptionlist"><% Object.entries(it.options).forEach( data =>  { %><li data-node-type="cart-option-list-item" class="cart-option-wrap"><span data-node-type="cart-option-list-item-label"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" class="option-item-value"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button" href="#" data-product-id="<%= it.uniqueId %>"><div class="label cc-cart-remove-link">Remove</div></a></div><input class="w-commerce-commercecartquantity text-field" name="<%= it.uniqueId %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                  <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-338fcf85-0add-3b81-68ce-59ae991bfb80"></div>
                  <div class="w-commerce-commercecartfooter cart-footer">
                    <div class="w-commerce-commercecartlineitem cart-line-item">
                      <div>{{ texts.-76f396dc }}</div>
                      <div class="w-commerce-commercecartordervalue paragraph-bigger">{% money  items_subtotal_price  %}</div>
                    </div>
                    <div>
                      
                      <div style="position:relative" data-wf-paypal-button="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;color&quot;:&quot;black&quot;,&quot;shape&quot;:&quot;rect&quot;,&quot;label&quot;:&quot;paypal&quot;,&quot;tagline&quot;:false,&quot;note&quot;:false}">
                        <div style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index:999;cursor:auto"></div>
                      </div>
                      <a href="{{ links.5032f721 }}" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton button" data-loading-text="Hang Tight...">{{ texts.-7941186e }}</a>
                    </div>
                  </div>
                </form>
                <div class="w-commerce-commercecartemptystate">
                  <div class="paragraph-light">{{ texts.3d503d2b }}</div>
                </div>
                <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate status-message cc-error-message">
                  <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="Cart failed." data-w-cart-subscription_error-error="Cart failed.">{{ texts.-1c765d0d }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-button w-nav-button"><img src="{{ images.-70f6df7d.url }}" width="22" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;22px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.-70f6df7d.alt | trim | escape }}" class="menu-icon"></div>
      </div>
    </div>
  </div>